<h1>Backup Log</h1>

<table>
 <tr>
  <td>
<%= search_form_for @q do |f| %>
  <%= f.label :sourcehost %>
  <%= f.search_field :sourcehost_cont %>
  <%= f.submit %>
<% end %>
   </td>
   <td>
<%= search_form_for @q do |f| %>
  <%= f.label :targethost %>
  <%= f.search_field :targethost_cont %>
  <%= f.submit %>
<% end %>
   </td>
  </tr>
</table 

<table>
  <thead>
  <table class="table table-striped">
    <tr>
      <%= content_tag :th, sort_link(@q, :purpose, 'System/Data Purpose') %>
      <%= content_tag :th, sort_link(@q, :method, 'Backup Method') %>
      <%= content_tag :th, sort_link(@q, :environment, 'Environment') %>
      <%= content_tag :th, sort_link(@q, :application, 'Application') %>
      <%= content_tag :th, sort_link(@q, :sourcehost, 'Source Host') %>
      <%= content_tag :th, sort_link(@q, :targethost, 'Target Host') %>
      <%= content_tag :th, sort_link(@q, :sourcepath, 'Source Path') %>
      <%= content_tag :th, sort_link(@q, :targetpath, 'Target Path') %>
      <%= content_tag :th, sort_link(@q, :status, 'Status') %>
      <%= content_tag :th, sort_link(@q, :date, 'Date') %>
      <!--<th></th>
      <th></th>-->
    </tr>
  </thead>

  <tbody>
    <% @backups.each do |backup| %>
      <tr>
        <td><%= backup.purpose %></td>
        <td><%= backup.method %></td>
        <td><%= backup.environment %></td>
        <td><%= backup.application %></td>
        <td><%= backup.sourcehost %></td>
        <td><%= backup.targethost %></td>
        <td><%= backup.sourcepath %></td>
        <td><%= backup.targetpath %></td>
        <td><%= backup.status %></td>
        <td><%= backup.date %></td>
        <!--<td><%= link_to 'Show', backup %></td>
        <td><%= link_to 'Edit', edit_backup_path(backup) %></td>
        <td><%= link_to 'Destroy', backup, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @backups %>
<!--<%= link_to 'New Backup', new_backup_path %>-->
